.App {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.left-col {
  width: 30%;
}

.right-col {
  width: 30%;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.searchbar-container input {
  width: 50%;
  font-size: larger;
}

.searchbar-container button {
  background-color: dodgerblue;
  color: #fff;
  border-color: dodgerblue;
  border-radius: 5px;
}

.results-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-item {
  list-style: none;
}

.book-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.book-info-container .book-info span {
  font-weight: bold;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-info #book-desciption {
  height: 12em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}