.App {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.left-col {
  width: 40%;
}

.right-col {
  width: 30%;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.searchbar-container input {
  width: 50%;
  font-size: larger;
}

.searchbar-container button {
  background-color: dodgerblue;
  color: #fff;
  border-color: dodgerblue;
  border-radius: 5px;
}

.results-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.book-item {
  list-style: none;
  border: 1px ridge grey;
  border-radius: 3px;
  box-shadow: 10px 5px 5px gray;
}

.book-item:hover {
  list-style: none;
  border: 1px ridge grey;
  border-radius: 3px;
  box-shadow: 10px 5px 5px rebeccapurple;
}

.book-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#title-and-favicon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title-and-favicon h2 {
  width: 90%;
}

#fav-icon {
  display: inline-flex;
  font-size: 30px;
}

#fav-icon:hover {
  color: red;
}

.book-info-container .book-info span {
  font-weight: bold;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-info #book-desciption {
  height: 12em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  /* line-clamp: 10; */
  -webkit-box-orient: vertical;
}