.movie {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.movie:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.movie img {
    width: 200px;
}

@media only screen and (max-width: 1200px) {
    .movie {
        flex-direction: column;
        width: 100%;
    }

    .movie img {
        width: 100%;
    }
}

/* @media only screen and (max-width: 768px) {
    .movie {
      flex-direction: column;
      width: 100%;
    }
  
    .movie img {
      width: 100%;
    }
  } */